{% extends 'base.html.twig' %}

{% block body %}
    <h1><p class="text-center">Create a new category</p></h1>
<div class="col-md-2 col-md-offset-5">

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <br>
        <input class= "btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list of your tasks</a>
        </li>
    </ul>
    </div>
{% endblock %}
